@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 27, 27, 27;
    --background-end-rgb: 27, 27, 27;
  }
  .card-desc {
    color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* img.leaflet-tile.leaflet-tile-loaded {
  position: absolute;
} */

#map {
  overflow: hidden;
  width: 100%;
  height: 80vh;
}

div.leaflet-popup-content-wrapper {
  padding: 1px 0px 1px 1px
}

div.leaflet-popup-content {
  margin: 0;
}

.bubble {
  font-size: 9pt;
  word-wrap: normal;
  width: 225px;
  overflow: hidden;
  border-radius: 10px;
}

div.bubble p {
  margin: .3em 0;
}

.bubble .content {
  margin: 5px;
}

.bubble-title-container {
  display: flex;
  justify-content: space-between;
}